html,
body {
	min-width: 100vw;
	margin: 0;
}

:root {
	--progress-bg: #ddd;
	--progress-color: green;
	--progress-width: 50%;
}

.progress-bar {
	width: 100%;
	border: black 5px solid;
	border-bottom: 0px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	background-color: var(--progress-bg);
	opacity: 0;
	transition: opacity 1s ease-in-out;

	&.visible {
		opacity: 1;
	}
}

.progress-bar-fill {
	height: 50px;
	width: var(--progress-width);
	background-color: var(--progress-color);
	transition: width 0.4s ease-in-out;
}

.progress-bar-label {
	width: 100%;
	height: 35px;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: space-around;

	& p {
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		color: white;
		font-size: 20px;
	}
}
